{% trans_default_domain 'sfs_catalog' %}

{% for category in entities %}
    <tr>
        <td>
            <a href="{{ url('sfs_catalog_admin_categories_read', {'category':category}) }}">{{ category.translatedName|translate }}</a>
        </td>

        {% if sfs_catalog_supports_subcategories() %}
            <td>
                {{ category.parent.translatedName|translate|default('') }}
            </td>
        {% endif %}

        <td>
            <a href="{{ url('sfs_catalog_admin_categories_update', {'category':category}) }}">update</a>
        </td>
    </tr>
{% endfor %}