{% extends '@SfsCatalog/layout.html.twig' %}

{% block content %}
    {% if sfs_catalog_has_categories() %}
        <div class="row">
            <div class="col-2">
                {% for category in sfs_catalog_categories() %}
                    <a href="#" class="btn btn-primary">{{ category.translatedName is defined ? category.translatedName|translate : category.name }}</a>
                {% endfor %}
            </div>
            <div class="col-10">
    {% endif %}

        <div class="row">
        {% for product in products %}
            <div class="col-12 col-sm-8 col-md-6 col-lg-4">
                {% include '@SfsCatalog/catalog/list_product_card.html.twig' with {'product':product} only %}
            </div>
        {% endfor %}
        </div>

    {% if sfs_catalog_has_categories() %}
            </div>
        </div>
    {% endif %}
{% endblock content %}