{% extends '@SfsCatalog/layout.html.twig' %}

{% block content %}
    <div class="row">
    {% for product in products %}
        <div class="card col-3">
            <a href="{{ url('sfs_catalog_product', {'product':product}) }}">{{ product.name }}</a>
        </div>
    {% endfor %}
    </div>
{% endblock content %}