<section class="card">
    <a href="{{ url('sfs_catalog_product', {'product':product}) }}">
        <img class="card-img" src="https://dummyimage.com/400x300/eeeeee/a1a1a1.jpg" alt="{{ product.translatedName is defined ? product.translatedName|translate : product.name }}" />
    </a>
    <div class="card-body">
        <h1 class="card-title h4">
            <a href="{{ url('sfs_catalog_product', {'product':product}) }}">{{ product.translatedName is defined ? product.translatedName|translate : product.name }}</a>
        </h1>
{#      <h6 class="card-subtitle mb-2 text-muted"><em>subtitle</em></h6>#}
{#      <p class="card-text"><em>description</em></p>#}
{#      <div class="options d-flex flex-fill">#}
{#          <select class="custom-select mr-1">#}
{#              <option selected>Color</option>#}
{#              <option value="1">Green</option>#}
{#              <option value="2">Blue</option>#}
{#              <option value="3">Red</option>#}
{#          </select>#}
{#      </div>#}
{#      <div class="buy d-flex justify-content-between align-items-center">#}
{#          <div class="price text-success"><h5 class="mt-4">$125</h5></div>#}
{#          <a href="#" class="btn btn-danger mt-3"><i class="fas fa-shopping-cart"></i> Add to Cart</a>#}
{#      </div>#}
    </div>
</section>