{% extends '@SfsCatalog/layout.html.twig' %}

{% block content %}
    <div class="card">
        <h1>{{ model.product.name }} / {{ model.name }}</h1>
        {{ model.sku }}

        {% if can_model_added_to_cart|default(false) %}
            <a href="{{ url('sfs_shop_cart_add', {'item':model}) }}">add to cart</a>
        {% endif %}
    </div>
{% endblock content %}