{% extends '@SfsCatalog/layout.html.twig' %}

{% block content %}
    <div class="card">
        <h1>{{ model.product.name }} / {{ model.name }}</h1>
        {{ model.sku }}
    </div>
{% endblock content %}