{% trans_default_domain 'sfs_catalog' %}
{% extends '@SfsCatalog/admin_layout.html.twig' %}
{% block title %}{{ 'admin_packs.read.page_title'|trans }}{% endblock %}

{% block content %}
    <h1>{{ pack.translatedName|translate }}</h1>
{% endblock content %}