{% trans_default_domain 'sfs_catalog' %}

{% for product in entities %}
    <tr>
        <td>
            <a href="{{ url('sfs_catalog_admin_products_read', {'entity':product}) }}">{{ product.name }}</a>
        </td>

        <td>
            <a href="{{ url('sfs_catalog_admin_products_update', {'entity':product}) }}">update</a>
        </td>
    </tr>
{% endfor %}