{% trans_default_domain 'sfs_catalog' %}

{% for model in entities %}
    <tr>
        <td>{{ model.product.name }}</td>
        <td>{{ model.name }}</td>
        <td>{{ model.sku }}</td>
        <td>
            <a href="{{ url('sfs_catalog_admin_models_update', {'entity':model}) }}">update</a>
        </td>
    </tr>
{% endfor %}